{% extends 'partials/menu.html' %}

{% block content %}
{% load static %}
<script src="{% static 'js/form.js' %}"></script>


<div class="container">
    <div class="card m-5" style="width: 1000px;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3 class="mb-3">Cadastrar</h3>
                    <form method="POST" id="signupForm">
                        {{ error }}
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" name="nome" id="nome" style="width: 625px;">
                            <div id="errorNome" style="display: none;">Insira somente letras</div>
                        </div>
                        <div class="mb-3">
                            <label for="sobrenome" class="form-label">Sobrenome</label>
                            <input type="text" class="form-control" name="sobrenome" id="sobrenome" style="width: 625px;">
                            <div id="errorSobreNome" style="display: none;">Insira somente letras</div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome de usuário</label>
                            <input type="text" class="form-control" name="username" id="username" style="width: 625px;">
                            <div id="errorUsername" style="display: none;">Proibido o uso de espaços e nomes com menos de 3 letras</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" style="width: 625px;">
                            <div id="erroremail" style="display: none;">Insira um endereço de email válido</div>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" name="senha" id="senha" style="width: 625px;">
                            <div id="errorSenha" style="display: none;">A senha deve conter pelo menos 6 caracteres, incluindo letras e números</div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
                            <input type="password" class="form-control" name="confirmarSenha" id="confirmarSenha" style="width: 625px;">
                            <div id="errorConfirmarSenha" style="display: none;">A senha deve conter pelo menos 6 caracteres, incluindo letras e números</div>
                        </div>
                        <div class="errorMensagem" style="display: none;">Os campos não foram preenchidos corretamente</div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}