{% extends 'partials/menu.html' %}

{% block content %}

<div class="container">
    <div class="card m-5" style="width: 1000px;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3 class="mb-3">Cadastrar</h3>
                    <form method="POST">
                        {{ error }}
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" name="nome" id="nome" aria-describedby="nomeHelp" style="width: 625px;">
                            <div id="nomeHelp" class="form-text">Insira seu primeiro nome</div>
                        </div>
                        <div class="mb-3">
                            <label for="sobrenome" class="form-label">Sobrenome</label>
                            <input type="text" class="form-control" name="sobrenome" id="sobrenome" aria-describedby="nomeHelp" style="width: 625px;">
                            <div id="nomeHelp" class="form-text">Insira seu primeiro sobrenome</div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome de usuário</label>
                            <input type="text" class="form-control" name="username" id="username" aria-describedby="nomeHelp" style="width: 625px;">
                            <div id="nomeHelp" class="form-text">Crie um nome de usuário</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" style="width: 625px;">
                            <div id="emailHelp" class="form-text">Seu email pessoal ou empresarial</div>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" name="senha" id="senha" style="width: 625px;">
                        </div>
                        <div class="mb-3">
                            <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
                            <input type="password" class="form-control" name="confirmarSenha" id="confirmarSenha" style="width: 625px;">
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}