{% extends 'partials/menu.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == evento.id_usuario.id %}
        <div class="container">
            <div class="card m-5" style="width: 1000px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-3">Editar Evento</h3>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary" value="Update">Atualizar</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <h1 class="m-5">Você não pode Editar este Evento!</h1>
    {% endif %}
{% endif %}
{% endblock %}