:root {
  --primary: #272829;
  --accent: #0d6efd;
  --secondary: #D8D9DA;
  --event: #65d284;
  --background: #fff;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
background-color: var(--background);}

.navbar {
  background-color: var(--accent);
}

.navbar-brand {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}

table {
  background-color: var(--secondary);
}

p {
  color: #FFFFFF;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }


.fc-header-toolbar {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  font-size: 20px; }
  
.fc-unthemed td.fc-today  {
  background-color: #f8f1f4;
}

.fc-event {
  background-color: #65d284;
  border: none !important;
}

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em; }

.fc-state-default {
  background-image: none;
  background-color: var(--accent);
  color: #FFF;
}

.fc-today-button {
  margin-right: 20px !important;
}

.card-evento {
  background-color: #EEEEEE;
}

.card-evento h2, p, a {
  color: #000;
}

strong {
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .fc-toolbar {
    display: block !important;
    text-align: center; }
    .fc-toolbar .fc-center {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px; } }
